/*
Theme Name:     Dairy Science
Theme URI:      http://cals.wisc.edu/developers
Description:    Child theme for the CALS WP Theme
Author:         Al Nemec
Author URI:     http://www.wisc.edu/directories/person.php?name=ALBERT%20M%20NEMEC
Template:       calsmain2013
Version:        0.1.0
*/

@import url("../calsmain2013/master.css");


/**  Child them styles **/

#access .navWrapper .menu {
	padding-right: 0px;
}

#access .globalSearch {
	top: -60px;
	right: 0px;
	width: 206px;
	height: 40px;
	
	z-index:15;
		
}

#branding #access #searchform {
	right: 0px;
	border-left: none;
	background: rgba(255,255,255,0.6);
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#branding #access #s {
	border-left: none;
	width: 70px;
}

#branding #access #s:focus {
	border-left: none;
	width: 200px;
}



div.headerPhotoBg {
	z-index:1;
}

ul.slides:after {
	display: none;
	content: none;
}

.home .events-table {
	color: #fff;
}

.home .events-table a {
	
color: #deb846;
line-height: 1.4em;
font-size: 14px;

}

.home .events-table tr td {
	padding-top: 1em;
}

.home .events-table thead tr th {
	font-weight: bold;
}



.boxContent h3.spotlight_title_small {
	font-size: 14px;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px solid rgba(255,255,255,0.4);
}

.box.videos img {
	margin-top: -70px;
	height: 180% !important;
	width: auto !important;
}

footer#colophon .inner .copyright {
	margin-top: 20px;
}

footer#colophon .socialRef {
	margin-top: 80px;
}

.single #content.fullWidth {
	width: 940px;
}

body.singular .hentry {
	padding-top: 0em;
}

.page-id-194 .entry-content h2 {
	margin-left: -30px;
	margin-right: -30px;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #dbcea7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#dbcea7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ffffff 0%,#dbcea7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ffffff 0%,#dbcea7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ffffff 0%,#dbcea7 100%); /* IE10+ */
background: linear-gradient(to right, #ffffff 0%,#dbcea7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbcea7',GradientType=1 ); /* IE6-9 */
}